art list


<ul>
{{#each artInHBS }}
<img src="{{this.photoPath}}" alt=""><br>

<a  href = "./art/{{_id}}">Details</a><br>
<a  href="./delete?art_id={{this._id}}">Delete</a><br>
<a  href="./edit?art_id={{this._id}}">Edit</a><br>

{{else}}
    <p>There are no walls yet! :(</p>
{{/each}}

</ul>

<a  href="./add" class="add-button">Add New</a>