{{!-- <ul id="arts">

    {{#each artInHBS }}
    <li class="columns">
    <img width="200px" src="{{this.photoPath}}" alt=""><br>
    <a href="./art/{{_id}}">Details</a><br>
    <a href="./delete?art_id={{this._id}}">Delete</a><br>
    <a href="./edit?art_id={{this._id}}">Edit</a><br>
    </li>
    {{else}}
    <p>There are no walls yet! :(</p>
    
    {{/each}}
</ul>

<a href="./add" class="add-button">Add New</a> --}}