<div class='text-center'>{{artInHBS.artName}}</div><br>
<div><img src="{{artInHBS.photoPath}}" />
</div><br>
<div>

{{artInHBS.artistName.firstName}}<br>
{{artInHBS.artistName.lastName}}<br>
{{artInHBS.artistName.nickName}}<br>
{{artInHBS.location.country}}<br>
{{artInHBS.location.city}}<br>
{{artInHBS.location.postalcode}}
{{artInHBS.location.street}}<br>
{{artInHBS.dateTaken}}
{{artInHBS.postedBy}}
</div>

<a href = "/profile">Back</a>
