artdetail page
<div><img src="{{artInHBS.photoPath}}" />
</div><br>
<div>
{{artInHBS.artName}}<br>
{{artInHBS.artistName.firstName}}<br>
{{artInHBS.artistName.lastName}}<br>
{{artInHBS.artistName.nickName}}<br>
{{artInHBS.location.country}}<br>
{{artInHBS.location.city}}<br>
{{artInHBS.location.postalcode}}
{{artInHBS.location.street}}<br>
{{artInHBS.dateTaken}}
</div>

<a href = "/profile">Back</a>
