<div id="navbar" class="nav justify-content">

  <a href="/profile" class="btn">Go back to your Wallz</a>
  <a href="/logout" class="btn">Logout</a>
</div>

<div class = 'add-walls-h1'><h1>change is good - fire up!  
</h1></div>
<div class = 'add-walls-h1'><button onclick="getLocation()">Get your current location coordinates</button></div>
<form action="./edit?art_id={{art._id}}" method="post" enctype="multipart/form-data">
<label for ="photo"></label>
  {{!-- <div class="tile"><img width ="100%" onclick = "function(){
    console.log('hi')
    document.getElementById('picture').click
  }" src="{{art.photoPath}}" > </div> --}}
  <div class="tile" data-scale="2.4"><img width ="100%" src="{{art.photoPath}}" onclick="window.open(this.src)"  > </div>
  {{!-- <input type="file" id="picture" name="photo" value="{{art.photoPath}}"> --}}

  <div class = "edit-form">
    <label for="artName">Art Name: </label>
  <input type="text" name="artName" value="{{art.artName}}" />
<br>
  <label>Location</label>
  <input type="text" id="lat" name="latitude" placeholder="latitude">
  <input type="text" id="lng" name="longitude" placeholder="longitude">
  <br>
  {{!-- <label for="country">Country: </label>
  <input type="text" name="location[country]" value="{{art.location.country}}" />
<br>
 <label for="city">City: </label>
  <input type="text" name="location[city]" value="{{art.location.city}}" />
<br>
  <label for="street">Street: </label>
  <input type="text" name="location[street]" value="{{art.location.street}}" />
  <br>

  <label for="postalcode">Postal Code: </label>
  <input type="text" name="location[postalcode]" value="{{art.location.postalcode}}" />
  <br> --}}

  <label for="firstName">First Name: </label>
  <input type="text" name="artistName[firstName]" value="{{art.artistName.firstName}}" />
<br>
  <label for="lastName">Last Name:</label>
  <input type="text" name="artistName[lastName]" value="{{art.artistName.lastName}}" />
<br>
  <label for="nickName">Nick Name:</label>
  <input type="text" name="artistName[nickName]" value="{{art.artistName.nickName}}" />
<br>
  <label for="dateTaken">Date Taken:</label>
  <input type="text" name="dateTaken" value="{{art.dateTaken}}" />
<br>
  <button type="submit">UPDATE</button>
  </div>
</form>


<div id="map-4"></div>


<script>
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
  }
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.")
    }
  }

  function showPosition(position) {

      console.log(position)
      document.querySelector("#lat").value = position.coords.latitude
      document.querySelector("#lng").value = position.coords.longitude

  }

  
  window.onload = () => {
    console.log('we need markers')

    const ironhackMiami = {
      lat: 25.765787699999997,
      lng: -80.19577989999999
    };

    const map = new google.maps.Map(
      document.getElementById('map-4'),
      {
        zoom: 8,
        center: ironhackMiami
      });

    let center = {
      lat: ironhackMiami.lat,
      lng: ironhackMiami.lng
    };

    google.maps.event.addListener(map, 'click', function (event) {
      console.log("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
      document.querySelector("#lat").value = event.latLng.lat()
      document.querySelector("#lng").value = event.latLng.lng()
    });
  }
</script>