
<div id="navbar-profile">
        <div><a href="/">WALLZ</a></div>
      <div>
        <a href="/logout"> LOG OUT</a>
        {{!-- <a href="/auth/facebook" class=""><span class=""></span> Facebook</a> --}}
      </div>
  {{!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a> --}}
</div>
  
</div>
<div class="header-container">
    <div class="welcome">
        Welcome to your wallz, 
        <!-- LOCAL INFORMATION -->
        {{#if user.local.email }}
        {{ user.local.email }}
    </div>

    {{!-- <a href="/unlink/local" class="btn btn-default">Unlink</a> --}}
    {{else}}
    <a href="/connect/local" class="btn">Connect Local</a>
    {{/if}}
    <!-- FACEBOOK INFORMATION -->
    <!-- check if the user has this token (is the user authenticated with this social account) -->
    {{#if user.facebook.token }}
    <div class="float fixed profile-links"
       
            {{!-- <strong>email</strong>: {{ user.facebook.email }}<br> --}}
            <strong>facebook user connected</strong>: {{ user.facebook.name }}
        
        <br>
        {{!-- <a href="/unlink/facebook" class="btn">Unlink Facebook</a> --}}
        {{else}}
        {{!-- <a href="/connect/facebook" class="btn">Connect Facebook</a> --}}
        {{/if}}
       
        </div>    
    </div>
</div>
    <div class="signup-profile"><a href="./add" >Add New</a></div>

    <!--<a href="./art">All my art</a>-->
<ul id="arts">

    {{#each artInHBS }}
    <li class="columns">
    {{!-- <img width="200px" src="{{this.photoPath}}" alt=""><br> --}}
    <div style="background-image:url({{this.photoPath}}"></div>
    <span>
      <a href="./art/{{_id}}" class="btn"> Details</a>
      <a href="./delete?art_id={{this._id}}" class="btn">Delete</a>
      <a href="./edit?art_id={{this._id}}" class="btn">Edit</a>
    </span>
    </li>
    {{else}}
    <p>There are no wallz yet! :(</p>
    
    {{/each}}
</ul>

<div id="map-2"></div>

<script>


  let arts = JSON.parse('{{{json artInHBS}}}')
   console.log(arts) 
  window.onload = () => {
    console.log('we need markers')

    const ironhackMiami = {
      lat: 25.765787699999997,
      lng: -80.19577989999999
    };

    const map = new google.maps.Map(
      document.getElementById('map-2'),
      {
        zoom: 5,
        center: ironhackMiami
      });

    let center = {
      lat: ironhackMiami.lat,
      lng: ironhackMiami.lng
    };


    const markers = []
    arts.forEach(art => {

      //var myLatLng = {lat: -25.363, lng: 131.044};
      var myLatLng = { lat: art.latitude, lng: art.longitude }
      var contentString = `
    <div id="content">
      <img style="width: 100px" src="${art.photoPath}" /><br>
      ${art.artName}<br>
      ${art.artistName.firstName}
      ${art.artistName.lastName}<br>
      ${art.artistName.nickName}
    </div>
    `;


      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      let marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'click me!',
      });

      marker.addListener('click', function () {
        infowindow.open(map, marker);
      })
      console.log(markers)
    });


    google.maps.event.addListener(map, 'click', function (event) {
      alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
    });
  }




</script>

    {{!-- {{>artList artInHBS=artInHBS }} --}}